h1, p:not(p.absolute__firstview--bottom):not(.footer__ttl):not(.card__date):not(.card__tag):not(.about__txt) {font-family: 'Gloria Hallelujah',
cursive;
font-family: 'Gorditas',
serif;
font-family: 'Kalam',
cursive;
}

/*ヘッダー*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 30px;
    padding-top: 15px;
}

.header-top {
    padding-bottom: 40px;
    width: 10%;
}

.header-ttl {
    font-size: 24px;
    width: 80px;
}

.header-nav-list {
    display: flex;
    margin-right: 50px;
    
}

.header-nav-item:not(:last-child) {
    margin-right: 30px;

}

.header-nav-item{
    color: #A5A5A5;
}

/*relative*/
.relative {
    /*position: relative;*/
    /*box-sizing: content-box;*/
    width: 100px;
    height: 100px;
}

.relative__firstview {
    width: 100%;
}

.relative__img {
    padding-left: 500px;
    display: block;
    width: 50%;
}

.relative__firstview {
    display: inline-block;
}

h1.absolute__firstview {
    position: absolute;
    top: 200px;
    margin-left: 250px;
    font-size: 350%;
    color: #A72A65;
}

.absolute__firstview--top {
    position: absolute;
    top: 350px;
    margin-left: 250px;
    font-size: 25px;
    color: #A72A65;
}

.absolute__firstview--bottom {
    position: absolute;
    top: 350px;
    margin-left: 250px;
    font-size: 16px;
    color: #A5A5A5;
    margin-top: 50px;
}

.relative__firstview span {
    color: #78E44F;
}

/*ニュース*/
div.news {
    max-width: 100%;
}

.news__ttl {
    margin-top: 350px;
    margin-left: 200px;
    line-height: 50px;
    width: 30%;
}

p.news__ttl--top {
    margin-top: 50px;
    font-size: 25px;
    color: #BF6C93;
    width: 100%;
}

h3.news__ttl--bottom {
    font-size: 30px;
    color: #747474;
    width: 100%;
}

ul.news {
    width: 40%;
    padding-top: 80px;
    padding-bottom: 80px;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    
}

.news__list{
    display: inline-block;
    width: 50%;
}

.news__list a {
    background: #A42966;
    padding: 5px 20px 5px 20px;
    width: 600px;
    height: 300px;
    text-decoration-line: none;
    border-radius: 50px;
    color: #FFFFFF;
}

ul.news {
    width: 100%;
    margin: 0px;
}

ul.news li {
    width: 70%;
    border-top: 0.5px solid #A5A5A5;
    border-bottom: 0.5px solid #A5A5A5;
}

li.news__list:first-of-type {
    border-top: 3px solid #A5A5A5;
}


li.news__list:last-child {
    border-bottom: 3px solid #A5A5A5;
}

li.news__list {
    width: 100%;
    list-style: none;
    color: #A5A5A5;
    margin-left: 200px;
}

/*テクノロジー×コーチング*/
.about__ttl {
    margin-top: 150px;
    left: 150px;
    text-align: center;
    line-height: 50px;
}

p.about__ttl--top {
    font-size: 25px;
    color: #BF6C93;
}

h3.about__ttl--bottom {
    font-size: 30px;
    color: #747474
}

.flex {
    display: flex;
    justify-content: space-around;
}

p.about__txt {
    margin-top: 80px;
    margin-left: 30px;
    line-height: 25px;
    font-size: 20px;
    color: #747474;
}

.about__img{
    display: block;
    width: 25%;
    margin-right: 10px;
    margin-top: 80px
}

/*サービス*/
.service {
    width: 500px;
}

.service__ttl {
    margin-top: 150px;
    margin-left: 150px;
    line-height: 50px;
    width: 200px;
}

p.service__ttl--top {
    font-size: 25px;
    color: #BF6C93;
}

h3.service__ttl--bottom {
    font-size: 30px;
    color: #747474
}

.grid__business {
    display: grid;
    padding-top: 100px;
    padding-left: 150px;
    width: 80%;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1ft 1ft;
}

.grid__business div {
    font-size: 24px;
    color: #fff;
}

.box1 {
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/3;
    background: #a42a66;
}

img.box1__item {
    width: 40%;
    margin-top: 50px;
}

h4.box1__txt {
    padding: 25px;
}

p.box1__txt {
    text-align: left;
    margin-left: 40px;
    font-size: 20px;
}

.box2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background: #a86089;
    display: flex;
    flex-direction: row;
}

img.box2__item {
    width: 30%;
    margin-left: 50px;
}

.box2__txt {
    text-align: left;
    margin-left: 15px;
    margin-top: 40px;
}

p.box2__txt {
    font-size: 20px;
}

.box3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background: #ac899d;
    display: flex;
    flex-direction: row;
}

img.box3__item {
    width: 30%;
    margin-left: 50px;
}

.box3__txt {
    text-align: left;
    margin-left: 15px;
    margin-top: 40px;
}

p.box3__txt {
    font-size: 20px;
}

/*ブログ*/
.blog {
    background-color: #F5F5F5;
    height: 800px;
    width: 100%;
}
.blog__ttl {
    margin-top: 150px;
    margin-left: 150px;
    padding-top: 50px;
    line-height: 50px;
    padding-bottom: 40px;
    width: 800px;
}

p.blog__ttl--top {
    font-size: 25px;
    color: #BF6C93;
}

h3.blog__ttl--bottom {
    font-size: 30px;
    color: #747474
}

.flex__item {
    display: flex;
    justify-content: space-between;
}

.blog__card {
    width: 20%;
    background-color: #FFFFFF;
    border-radius: 20px;
    position: relative;
}

.blog__card:first-child {
    margin-left: 150px;
}

.blog__card:last-child {
    margin-right: 200px;
}

.card__img img {
    width: 100%;
    /*height: 200px;*/
    border-radius: 30px 30px 0px 0px;
}

.card__txt {
    padding: 15px 25px;
}

.card__top {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

.card__ttl {
    position: absolute;
    padding: 10px 25px;
    left: 0px;
    background: #A42966;
    background-repeat: no-repeat;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border-radius: 20px 0px 0px 0px;
}

.card__bottom {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.card__date {
    display: inline-block;
    color: #A5A5A5;
}

.card__tag {
    display: inline-block;
    margin-left: 0px;
    color: #A5A5A5;
}

.blog__btn {
    margin-top: 100px;
    margin-left: 35%;
    width: 250px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: solid 5px #BF6C93;
    border-radius: 50px;
}

.blog__btn a {
    text-decoration-line: none;
    color: #BF6C93;
}

/*会社概要*/
.company__ttl {
    margin-top: 150px;
    margin-bottom: 20px;
    margin-left: 200px;
    line-height: 50px;
    width: 30%;
}

.company__ttl--top {
    font-size: 25px;
    color: #BF6C93;
    width: 30%;
}

.company__ttl--bottom {
    font-size: 30px;
    color: #747474;
    width: 50%;
}

table.company__box {
    width: 60%;
    border-collapse: collapse;
    margin-left: 200px;
    
}
table th,
table td {
    border: 1px solid #ccc;
    padding: 20px;
}

table th {
    font-weight: bold;
    background-color: #f6f6f6;
    text-align: left;
    color: #747474
}

table td {
    font-weight: bold;
    color: #A5A5A5;
}

/*インタビュー*/
.interview {
    max-width: 100%;
    height: 400px;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
}

.interview__left {
    background-image: url(../img/recruit.png);
    background-position: left;
    width: 50%;
    /*height: 80%;*/
}

h6.interview__left--txt{
    font-size: 30px;
    color: #FFFFFF;
    /*padding: 200px 300px;*/
    text-align: center;
    margin-top: 25%;
}

.interview__right {
    background-image: url(../img/interview.png);
    background-position: right;
    width: 50%;
}

h6.interview__right--txt {
    font-size: 30px;
    color: #FFFFFF;
    /*padding: 200px 250px;*/
    text-align: center;
    margin-top: 25%;
}

/*フッター*/
p.footer__ttl {
    margin-top: 150px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #A5A5A5;;
}

.footer__inner {
    /*position: relative;*/
    margin: 0;
        padding: 0;
}

.line {
    max-width: 100%;
    border-right:3px solid #D83784;
    left: 50%;
    margin-top: 50px;
    position: absolute;
    width: 3px;
    height: 60px;
}

a.footer__btn {
    padding: 20px;
    margin-left: 35%;
    margin-top: 170px;
    margin-bottom: 30px;
    width: 300px;
    display: block;
    color: #fff !important;
    background: linear-gradient(90deg,#D83784,#A52A63);
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0 10px 0 0 #791650;
}

a.footer__btn:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 40px;
    padding-right: 50px;
    margin-left: 30px;
    background: url("../img/mailicon.svg") no-repeat;
    background-size:40px;
    vertical-align: middle;
}

.footer__bottom {
    position: relative;
    font-size: 20px;
    background-color: #F6F5F5;
    height: 70px;
}

.footer__bottom {
    color: #A5A5A5;
    width: 100%;
}

.footer__bottom--txt {
    position: absolute;
    margin-left: 35%;
    padding-top: 40px;
}




/* * {
    outline: 1px solid red !important;
}*/