/*ヘッダー*/


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 30px;
    padding-top: 15px;
}

.header-top {
    padding-bottom: 40px;
    width: 10%;
}

.header-ttl {
    font-size: 24px;
    width: 80px;
}

.header-nav-list {
    display: flex;
    
}

.header-nav-item:not(:last-child) {
    margin-right: 30px;
}

.header-nav-item{
    color: #A5A5A5;
}

/*relative*/
.relative {
    position: relative;
}

.relative__img {
    padding-left: 700px;
    display: block;
    width: 60%;
    
}

.relative__firstview {
    display: inline-block;
}

h1.absolute__firstview {
    position: absolute;
    top: 30%;
    padding-left: 400px;
    font-size: 50px;
    color: #A72A65;
}

.absolute__firstview--top {
    position: absolute;
    top: 45%;
    padding-left: 400px;
    font-size: 25px;
    color: #A72A65;
}


.absolute__firstview--bottom {
    position: absolute;
    top: 50%;
    padding-left: 400px;
    font-size: 16px;
    color: #A5A5A5;
    margin-top: 50px;
}

.relative__firstview span {
    color: #78E44F;
}

/*ニュース*/
div.news__ttl {
    margin-top: 150px;
    margin-left: 150px;
    line-height: 50px;
}

p.news__ttl--top {
    
    left: 100px;
    font-size: 25px;
    color: #BF6C93;
}

h3.news__ttl--bottom {
   
    font-size: 30px;
    color: #747474
}

ul.news {
   padding-top: 80px;
   padding-left: 150px;
   text-decoration: none;
   font-size: 20px;
   line-height: 60px;
}

.ul.news span {
    background-color: #A42966;
        border: #A42966;
        color: white;
       
       padding: 10px 20px;
        
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        border-radius: 30px;



}


ul.news li {
    max-width: 800px;
    border-top: 0.5px solid #A5A5A5;
    border-bottom: 0.5px solid #A5A5A5;
}


li.news__list:first-of-type { 
    border-top: 3px solid #A5A5A5;
}


li.news__list:last-child {
    border-bottom: 3px solid #A5A5A5;
}

li.news__list {
    list-style: none;
    color: #A5A5A5;
}
/*About*/
.about__ttl {
    margin-top: 200px;
    left: 100px;
    text-align: center;
    line-height: 50px;
}

p.about__ttl--top {
    font-size: 25px;
    color: #BF6C93;
}

h3.about__ttl--bottom {
    font-size: 30px;
    color: #747474
}

.flex {
    display: flex;
    justify-content: space-around;
    
}

p.about__txt {
    margin-top: 80px;
    line-height: 25px;
    font-size: 25px;
    color: #747474;
    
}
.about__img{
    display: block;
    width: 30%;
    margin-right: 10px;
    margin-top: 80px
}




/*サービス*/
.service__ttl {
    margin-top: 150px;
    margin-left: 150px;
    line-height: 50px;
}

p.service__ttl--top {
    font-size: 25px;
    color: #BF6C93;
}

h3.service__ttl--bottom {
    font-size: 30px;
    color: #747474
}




.grid__business {
   
   
    display: grid;
    padding-top: 100px;
    padding-left: 150px;
    width: 80%;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1ft 1ft;
}

.grid__business div {
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background: #a42a66;
}

img.box1__item {
    width: 40%;
   margin-top: 50px;
}

h4.box1__txt {
    padding: 25px;
}

p.box1__txt {
    text-align: left;
    margin-left: 60px;
}

.box2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background: #a86089;
}

img.box2__item {
    width: 250px;
    margin-top: 50px;
    padding-left: 10px;
}

.box2__txt {
    margin-left: 180px;
    margin-top: auto;
}

p.box2__txt {
    text-align: left;
    margin-left: 60px;
}





.box3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background: #ac899d;
}

img.box3__item {
    width: 250px;
    margin-top: 50px;
    padding-left: 10px;
}

/*ブログ*/
.blog {
    background-color: #F5F5F5;
   
}
.blog__ttl {
    margin-top: 150px;
    margin-left: 150px;
    line-height: 50px;
}

p.blog__ttl--top {
    font-size: 25px;
    color: #BF6C93;
}

h3.blog__ttl--bottom {
    font-size: 30px;
    color: #747474
}

/*ブログ　カード*/



.flex__item {
    display: flex;
    justify-content: space-between;
   
}

.blog__card {
    width: 30%;
    background-color: #FFFFFF;
    border-radius: 20px;
    
    
}
.card__img {
    position: relative;
}

.card__img img {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    

    
}


.card__txt {
    padding: 15px 25px;
}

.card__top {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
    
}

.card__ttl {
    position: absolute;
    padding-left: 0px;
    padding: 10px 25px;
   padding-bottom: 10px;
    background: #A42966;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    
    border-radius: 20px 0px 0px 0px;
}

.card__bottom {
    font-size: 14px;
display: flex;
    justify-content: space-between;
}

.card__date {
    display: inline-block;
    color: #A5A5A5;
}

.card__tag {
    display: inline-block;
    margin-left: 0px;
    color: #A5A5A5;
}



.blog__btn {
    
    margin: 100px 700px;
    width: 250px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: solid 5px #BF6C93;
    border-radius: 50px;
  
}

.blog__btn a {
    text-decoration-line: none;
    color: #BF6C93;
}






/*Company*/
.company__ttl {
    margin-top: 150px;
    margin-left: 150px;
    line-height: 50px;
}

p.company__ttl--top {
    font-size: 25px;
}

h3.company__ttl--bottom {
    font-size: 30px;
    color: #747474
}



table.company__box {
    width: 60%;
    border-collapse: collapse;
    margin-left: 150px;
}
table th,
table td {
    border: 1px solid #ccc;
    padding: 20px;
}

table th {
    font-weight: bold;
    background-color: #f6f6f6;
    text-align: left;
    color: #747474
}

table td {
    font-weight: bold;
    color: #A5A5A5;
}


/*インタビュー*/
.interview {
    width: 100%;
    height: 400px;
    padding-top: 150px;
}

.interview__left {
    background-image: url(../img/recruit.png);
}

.interview__right {
    background-image: url(../img/interview.png);
}




/*フッター*/

p.footer__ttl {
    margin-top: 300px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #A5A5A5;;
}

.footer__innner {
    position: relative;
}



.line {
border-right:3px solid #D83784;
/*線の設定*/
padding-left: 50px;
left: 790px;
margin-top: 50px;
position: absolute;
width: 3px;
height: 60px;

/*余白の設定*/
}


a.footer__btn {
    padding: 20px;
    margin: 150px 670px 30px;
    width: 300px;
    display: block;
    color: #fff !important;
    background: linear-gradient(90deg,#D83784,#A52A63);
    text-decoration: none;
    
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0 10px 0 0 #791650;
   
   
}

a.footer__btn:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 40px;
    padding-right: 50px;
    margin-left: 30px;
    background: url("../img/mailicon.svg") no-repeat;
    
    background-size:40px;
    vertical-align: middle;
}


a footer__btn {
    
    background: #ff0000;
    width: 300px;
    height: 300px;
}








.footer__bottom {
    position: relative;
    font-size: 20px;
    background-color: #F6F5F5;
    height: 70px;
}

.footer__bottom {
    text-align: center;
    color: #A5A5A5;
    ;
}

.footer__bottom--txt {
   
    position: absolute;
        left: 630px;
        padding-top: 40px;
}




